:root {
  --neutral-900: rgba(0, 0, 0, 1);
  --neutral-0: rgba(255, 255, 255, 1);
  --neutral-300: rgba(163, 163, 163, 1);
  --neutral-500: rgba(82, 82, 82, 1);
  --primarybase: rgba(233, 77, 53, 1);
  --neutral-100: rgba(250, 250, 250, 1);
  --body-18-regular-font-family: "Inter-Regular", Helvetica;
  --body-18-regular-font-weight: 400;
  --body-18-regular-font-size: 18px;
  --body-18-regular-letter-spacing: -0.25999999046325684px;
  --body-18-regular-line-height: 32px;
  --body-18-regular-font-style: normal;
  --title-h5-font-family: "BaiJamjuree-Bold", Helvetica;
  --title-h5-font-weight: 700;
  --title-h5-font-size: 24px;
  --title-h5-letter-spacing: -0.48px;
  --title-h5-line-height: 32px;
  --title-h5-font-style: normal;
  --title-h1-font-family: "BaiJamjuree-Bold", Helvetica;
  --title-h1-font-weight: 700;
  --title-h1-font-size: 56px;
  --title-h1-letter-spacing: -0.56px;
  --title-h1-line-height: 64px;
  --title-h1-font-style: normal;
  --body-16-medium-font-family: "Inter-Medium", Helvetica;
  --body-16-medium-font-weight: 500;
  --body-16-medium-font-size: 16px;
  --body-16-medium-letter-spacing: -0.18000000715255737px;
  --body-16-medium-line-height: 24px;
  --body-16-medium-font-style: normal;
  --body-18-medium-font-family: "Inter-Medium", Helvetica;
  --body-18-medium-font-weight: 500;
  --body-18-medium-font-size: 18px;
  --body-18-medium-letter-spacing: -0.25999999046325684px;
  --body-18-medium-line-height: 32px;
  --body-18-medium-font-style: normal;
  --body-14-regular-font-family: "Inter-Regular", Helvetica;
  --body-14-regular-font-weight: 400;
  --body-14-regular-font-size: 14px;
  --body-14-regular-letter-spacing: -0.09000000357627869px;
  --body-14-regular-line-height: 24px;
  --body-14-regular-font-style: normal;
  --content-subheading-font-family: "BaiJamjuree-Bold", Helvetica;
  --content-subheading-font-weight: 700;
  --content-subheading-font-size: 16px;
  --content-subheading-letter-spacing: 1.28px;
  --content-subheading-line-height: 32px;
  --content-subheading-font-style: normal;
}
